/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header Section */
  .header {
    position: relative;
    background-image: url('assets/bun.png');
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: flex-start; /* Aligns items to the top */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
    z-index: 1;
  }
  
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo-brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 6.25rem; /* 100px -> 6.25rem */
    height: auto;
    margin-right: 0.625rem; /* 10px -> 0.625rem */
  }
  
  .brand-name {
    font-size: 2em;
    color: #ffcc00;
  }
  
  .social-buttons .icon {
    margin-left: 1.25rem; /* 20px -> 1.25rem */
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  
  .social-buttons .twitter {
    color: #1DA1F2;
  }
  
  .social-buttons .telegram {
    color: #0088cc;
  }
  
  .social-buttons .docs {
    color: #FF6347;
  }
  